{% extends 'base.html' %}
{% block title %}changer la production{% endblock %}
{% block script %}production.js
{% endblock %}
{% block title1 %}Production{% endblock %}
{% block title2 %}Changer la production{% endblock %}
{% block title3 %}Changer la production{% endblock %}
{% block content %}
<div class="container-fluid py-4">
    <div class="container-fluid py-4">
        <div class="row" id="abId0.48152076309116754">
            <div class="col-lg-9 col-12 mx-auto" id="abId0.12338387730870526">
                <div class="card card-body mt-4" id="abId0.5321583829375365">
                    <h6 class="mb-0">Information sur la production</h6>
                    <p class="text-sm mb-0">Information</p>
                    <hr class="horizontal dark my-3">
                    {% if error_message %}
                    <div class="alert alert-danger text-white" role="alert">
                        {{ error_message }}
                    </div>
                    <script>
                        setTimeout(function() {
                            window.location.href = "{% url 'changer_production' production.id %}";
                        }, 5000);
                    </script>
                    {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        {% if production %}
                        <div class="row mb-3">
                            <div class="col-6 col-md-6">
                                <label for="date" class="form-label">Date</label>
                                <input type="date" class="form-control" id="date" name="date" value="{{production.date|date:'Y-m-d'}}" required>
                            </div>
                            <div class="col-6 col-md-6">
                                <label for="batch_no" class="form-label">Numéro de lot</label>
                                <input type="text" class="form-control" id="batch_no" name="batch_no" value="{{production.batch_no}}" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 col-md-12">
                                <label for="agency" class="form-label">Agence</label>
                                <div class="input-group">
                                    <select class="form-select" name="agency" id="agency">
                                        {% for agency in agencies %}
                                        <option value="{{agency.agency}}" {% if production.agency == agency.agency %} selected {% endif %}>{{agency.agency }}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="text" class="form-control" id="search_agency" placeholder="Recherchez une agence">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 col-md-12">
                                <label for="ingredient" class="form-label">Ingredient</label>
                                <div class="input-group">
                                    <select class="form-select" name="ingredient" id="ingredient">
                                        
                                    </select>
                                    <input type="text" class="form-control" id="search_ingredient" placeholder="Recherchez une ingredient">
                                    <input type="hidden" class="form-control" id="hidden_ingredient" value="{{production.ingredient}}">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 col-md-12">
                                <label for="product" class="form-label">Production</label>
                                <div class="input-group">
                                    <select class="form-select" name="product" id="product">
                                        {% for product in products %}
                                        <option value="{{product.item}}" {% if production.product == product.item %} selected {% endif %}>{{product.item }}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="text" class="form-control" id="search_product" placeholder="Recherchez une produit">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 col-md-6">
                                <label for="quantity" class="form-label">Quantité</label>
                                <input type="text" class="form-control" id="quantity" name="quantity" value="{{production.quantity}}" required>
                            </div>
                            <div class="col-6 col-md-6">
                                <label for="unit_price" class="form-label">Prix unitaire</label>
                                <input type="text" class="form-control is-valid" id="unit_price" name="unit_price" disabled>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 col-md-6">
                                <label for="journal" class="form-label">Journal</label>
                                <select class="form-select" name="journal" id="journal">
                                    <option value="PRODUCTION" {% if production.journal == "PRODUCTION" %} selected {% endif %}>PRODUCTION</option>
                                    <option value="BANQUE" {% if production.journal == "BANQUE" %} selected {% endif %}>BANQUE</option>
                                    <option value="ACHAT" {% if production.journal == "ACHAT" %} selected {% endif %}>ACHAT</option>
                                    <option value="CAISSE" {% if production.journal == "CAISSE" %} selected {% endif %}>CAISSE</option>
                                    <option value="OD" {% if production.journal == "OD" %} selected {% endif %}>OD</option>
                                    <option value="RAN" {% if production.journal == "RAN" %} selected {% endif %}>RAN</option>
                                    <option value="TRANSFERT" {% if production.journal == "TRANSFERT" %} selected {% endif %}>TRANSFERT</option>
                                    <option value="VENTE" {% if production.journal == "VENTE" %} selected {% endif %}>VENTE</option>
                                </select>
                            </div>
                            <div class="col-6 col-md-6">
                                <label for="product_type" class="form-label">Type de fabrication</label>
                                <select class="form-select" name="product_type" id="product_type">
                                    <option value="Finis" {% if production.product_type == "Finis" %} selected {% endif %}>Finis</option>
                                    <option value="Semi-finis" {% if production.product_type == "Semi-finis" %} selected {% endif %}>Semi-finis</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 col-md-6">
                                <label for="debit_account" class="form-label">Compte à débiter</label>
                                <select class="form-select" name="debit_account" id="debit_account">
                                    {% for account in accounts %}
                                    <option value="{{account.account}}" {% if production.debit_account == account.account %} selected {% endif %}>{{account.account }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6 col-md-6">
                                <label for="debit_Label" class="form-label">Libellé compte à débiter</label>
                                <input type="text" class="form-control is-valid" id="debit_Label" disabled>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 col-md-6">
                                <label for="credit_account" class="form-label">Compte à créditer</label>
                                <select class="form-select" name="credit_account" id="credit_account">
                                    {% for account in accounts %}
                                    <option value="{{account.account}}" {% if production.credit_account == account.account %} selected {% endif %}>{{account.account }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6 col-md-6">
                                <label for="credit_Label" class="form-label">Libellé compte à créditer</label>
                                <input type="text" class="form-control is-valid" id="credit_Label" disabled>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 col-md-6">
                                <label for="debit_amount" class="form-label">Débiteur Motant</label>
                                <input type="text" class="form-control is-valid" id="debit_amount" value="{{production.debit_amount}}" disabled>
                                <input type="hidden" class="form-control" id="hidden_debit_amount" name="debit_amount" value="{{production.debit_amount}}" required>
                            </div>
                            <div class="col-6 col-md-6">
                                <label for="credit_amount" class="form-label">Créditeur Motant</label>
                                <input type="text" class="form-control is-valid" id="credit_amount" value="{{production.credit_amount}}" disabled>
                                <input type="hidden" class="form-control" id="hidden_credit_amount" name="credit_amount" value="{{production.credit_amount}}" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 col-md-6">
                                <label for="amount" class="form-label">Motant</label>
                                <input type="text" class="form-control is-valid" id="amount" value="{{production.amount}}" disabled>
                                <input type="hidden" class="form-control" id="hidden_amount" name="amount" value="{{production.amount}}" required>
                            </div>
                            <div class="col-6 col-md-6">
                                <label for="stock_out" class="form-label">Sortie de stock</label>
                                <input type="text" class="form-control is-valid" id="stock_out" value="{{production.stock_out}}" disabled>
                                <input type="hidden" class="form-control" id="hidden_stock_out" name="stock_out" value="{{production.stock_out}}" required>
                            </div>
                        </div>
                        {% endif %}
                        <div class="d-flex justify-content-end mt-4">
                            <a href="{% url 'view_production'%}" name="button" class="btn btn-light m-0">Annuler</a>
                            <button type="submit" name="button" class="btn bg-gradient-primary m-0 ms-2">Sauvegarder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}