{% extends 'base.html' %}
{% block title %}gestion des autres à nouveaux{% endblock %}
{% block script %}othersrenewed.js
{% endblock %}
{% block title1 %}Autres à nouveaux{% endblock %}
{% block title2 %}Gestion des autres à nouveaux{% endblock %}
{% block title3 %}Gestion des autres à nouveaux{% endblock %}
{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                <h6>Gestion des autres à nouveaux</h6>
                {% if 'nassib.add_othersrenewed' in user.get_all_permissions %}
                <div class="d-flex justify-content-between align-items-center"> 
                    <a href="{% url 'add_othersrenewed'%}" class="btn btn-primary">
                        <i class="fas fa-plus-circle"></i> Ajouter
                    </a> 
                </div>  
                {% endif %}             
            </div>              
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0 custom-table">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Detail</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Journal</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Montant</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Compte à débiter</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Montant à débiter</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Compte à créditer</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Montant à débiter</th>
                      {% if 'nassib.delete_othersrenewed' in user.get_all_permissions %}
                      <th class="text-secondary opacity-7"></th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for othersrenewed in othersreneweds %}
                    <tr>
                        <td class="custom-td">
                            <span class="text-secondary text-sm font-weight-bold">{{ othersrenewed.date|date:"d F Y" }}</span>
                        </td>
                        <td class="custom-td">
                            <h6 class="text-sm font-weight-bold mb-0">{{ othersrenewed.detail }}</h6>
                        </td>
                        <td class="custom-td">
                            <h6 class="text-sm font-weight-bold mb-0">{{ othersrenewed.journal }}</h6>
                        </td>
                        <td class="custom-td">
                          <h6 class="text-sm font-weight-bold mb-0">{{ othersrenewed.amount }} KMF</h6>
                        </td>
                        <td class="custom-td">
                            <h6 class="text-sm font-weight-bold mb-0">{{ othersrenewed.debit_account }}</h6>
                        </td>
                        <td class="custom-td">
                            <h6 class="text-sm font-weight-bold mb-0">{{ othersrenewed.debit_amount }} KMF</h6>
                        </td>
                        <td class="custom-td">
                            <h6 class="text-sm font-weight-bold mb-0">{{ othersrenewed.credit_account }}</h6>
                        </td>
                        <td class="custom-td">
                            <h6 class="text-sm font-weight-bold mb-0">{{ othersrenewed.credit_amount }} KMF</h6>
                        </td>
                        {% if 'nassib.delete_othersrenewed' in user.get_all_permissions %}
                        <td class="custom-td custom-space">
                            {% if 'nassib.delete_othersrenewed' in user.get_all_permissions %}
                            <a href="javascript:;" class="text-danger font-weight-bold text-sm delete" data-id="{{ othersrenewed.id }}" data-toggle="tooltip">
                                <i class="fas fa-trash fixed-plugin-button-nav cursor-pointer"></i>
                            </a>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% empty %}
                      <tr>
                        <td colspan="5" class="text-center">Aucune donnée disponible</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            {% if othersreneweds.has_other_pages %}
            <div class="dataTable-bottom">
              <nav class="dataTable-pagination">
                <ul class="dataTable-pagination-list">
                  {% if othersreneweds.has_previous %}
                  <li class="pager"><a href="?page={{ othersreneweds.previous_page_number }}">‹</a></li>
                  {% endif %}
                  {% for num in othersreneweds.paginator.page_range %}
                  {% if othersreneweds.number == num %}
                  <li class="active"><a href="?page={{ num }}" >{{ num }}</a></li>
                  {% elif num > othersreneweds.number|add:'-5' and num < othersreneweds.number|add:'5' %}
                  <li class=""><a href="?page={{ num }}" >{{ num }}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% if othersreneweds.has_next %}
                  <li class="pager"><a href="?page={{ othersreneweds.next_page_number }}">›</a></li>
                  {% endif %}
                </ul>
              </nav>
            </div>
            {% endif %}
          </div>
      </div>
    </div>
</div>
{% endblock %}

