{% extends 'base.html' %}
{% block title %}gestion des transfert{% endblock %}
{% block script %}transfer.js
{% endblock %}
{% block title1 %}Achat{% endblock %}
{% block title2 %}Liste des transfert{% endblock %}
{% block title3 %}Liste des transfert{% endblock %}
{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                <h6>Liste des transfert</h6>
                {% if 'nassib.add_transfer' in user.get_all_permissions %}
                <div class="d-flex justify-content-between align-items-center"> 
                    <a href="{% url 'add_transfer'%}" class="btn btn-primary">
                        <i class="fas fa-plus-circle"></i> Transfert
                    </a> 
                </div>  
                {% endif %}             
            </div>              
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0 custom-table">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">No. BL</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Bénéficiaire</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Initiateur</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Journal</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ingredient</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Quantité</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Motant</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sortie de stock</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Statut</th>
                      {% if 'nassib.change_transfer' in user.get_all_permissions or 'nassib.delete_transfer' in user.get_all_permissions %}
                      <th class="text-secondary opacity-7"></th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for transfer in transfers %}
                    <tr>
                        <td class="custom-td">
                            <h6 class="text-sm font-weight-bold mb-0">{{ transfer.date|date:"d F Y"  }}</h6>
                        </td>
                        <td class="custom-td">
                            <h6 class="text-sm font-weight-bold mb-0">{{ transfer.no_bl }}</h6>
                        </td>
                        <td class="custom-td">
                            <h6 class="text-sm font-weight-bold mb-0">{{ transfer.beneficiary }}</h6>
                        </td>
                        <td class="custom-td">
                            <h6 class="text-sm font-weight-bold mb-0">{{ transfer.initiator }}</h6>
                        </td>
                        <td class="custom-td">
                            <h6 class="text-sm font-weight-bold mb-0">{{ transfer.journal }}</h6>
                        </td>
                        <td class="custom-td">
                            <h6 class="text-sm font-weight-bold mb-0">{{ transfer.ingredient }}</h6>
                        </td>
                        <td class="custom-td">
                            <h6 class="text-sm font-weight-bold mb-0">{{ transfer.quantity_issued }}</h6>
                        </td>
                        <td class="custom-td">
                            <h6 class="text-sm font-weight-bold mb-0">{{ transfer.amount_issue }} KMF</h6>
                        </td>
                        <td class="custom-td">
                            <h6 class="text-sm font-weight-bold mb-0">{{ transfer.stock_out }}</h6>
                        </td>
                        <td class="custom-td">
                            {% if transfer.status == "Confirmez" %}
                            <span class="badge badge-sm bg-gradient-success">{{ transfer.status }}</span>
                            {% else %}
                            <span class="badge badge-sm bg-gradient-danger">{{ transfer.status }}</span>
                            {% endif %}
                        </td>
                        {% if 'nassib.change_achat' in user.get_all_permissions or 'nassib.delete_achat' in user.get_all_permissions %}
                        <td class="custom-td custom-space">
                            {% if 'nassib.delete_transfer' in user.get_all_permissions %}
                            <a href="javascript:;" class="text-danger font-weight-bold text-sm delete" data-id="{{ transfer.id }}" data-toggle="tooltip">
                                <i class="fas fa-trash fixed-plugin-button-nav cursor-pointer"></i>
                            </a>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% empty %}
                      <tr>
                        <td colspan="5" class="text-center">Aucune donnée disponible</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            {% if transfers.has_other_pages %}
            <div class="dataTable-bottom">
              <nav class="dataTable-pagination">
                <ul class="dataTable-pagination-list">
                  {% if transfers.has_previous %}
                  <li class="pager"><a href="?page={{ transfers.previous_page_number }}">‹</a></li>
                  {% endif %}
                  {% for num in transfers.paginator.page_range %}
                  {% if transfers.number == num %}
                  <li class="active"><a href="?page={{ num }}" >{{ num }}</a></li>
                  {% elif num > transfers.number|add:'-5' and num < transfers.number|add:'5' %}
                  <li class=""><a href="?page={{ num }}" >{{ num }}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% if transfers.has_next %}
                  <li class="pager"><a href="?page={{ transfers.next_page_number }}">›</a></li>
                  {% endif %}
                </ul>
              </nav>
            </div>
            {% endif %}
          </div>
      </div>
    </div>
</div>
{% endblock %}

