{% extends 'base.html' %}
{% block title %}ajouter un contrôle de vente{% endblock %}
{% block script %}salescontrol.js
{% endblock %}
{% block title1 %}Contrôle vente{% endblock %}
{% block title2 %}Ajouter un contrôle de vente{% endblock %}
{% block title3 %}Ajouter un contrôle de vente{% endblock %}
{% block content %}
<div class="container-fluid py-4">
    <div class="container-fluid py-4">
        <div class="row" id="abId0.48152076309116754">
            <div class="col-lg-9 col-12 mx-auto" id="abId0.12338387730870526">
                <div class="card card-body mt-4" id="abId0.5321583829375365">
                    <h6 class="mb-0">Information sur le contrôle de vente</h6>
                    <p class="text-sm mb-0">Information</p>
                    <hr class="horizontal dark my-3">
                    {% if error_message %}
                    <div class="alert alert-danger text-white" role="alert">
                        {{ error_message }}
                    </div>
                    <script>
                        setTimeout(function() {
                            window.location.href = "{% url 'add_salescontrol' %}";
                        }, 5000);
                    </script>
                    {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-12 col-md-12">
                                <label for="date" class="form-label">Date</label>
                                <input type="date" class="form-control" id="date" name="date" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 col-md-12">
                                <label for="agency" class="form-label">Agence</label>
                                <div class="input-group">
                                    <select class="form-select" name="agency" id="agency">

                                    </select>
                                    <input type="text" class="form-control" id="search_agency" placeholder="Recherchez une agence">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 col-md-6">
                                <label for="opening_balance" class="form-label">Solde de départ</label>
                                <input type="text" class="form-control is-valid" id="opening_balance" disabled>
                                <input type="hidden" class="form-control" id="hidden_opening_balance" name="opening_balance" required>
                            </div>
                            <div class="col-6 col-md-6">
                                <label for="sales_made" class="form-label">Vente effectuée</label>
                                <input type="text" class="form-control is-valid" id="sales_made" disabled>
                                <input type="hidden" class="form-control" id="hidden_sales_made" name="sales_made" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 col-md-6">
                                <label for="cash_collection" class="form-label">Encaissement en espèces</label>
                                <input type="text" class="form-control" id="cash_collection" name="cash_collection" required>
                            </div>
                            <div class="col-6 col-md-6">
                                <label for="credit_sales" class="form-label">Vente à crédit</label>
                                <input type="text" class="form-control" id="credit_sales" name="credit_sales" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 col-md-6">
                                <label for="donation" class="form-label">Donation</label>
                                <input type="text" class="form-control" id="donation" name="donation" required>
                            </div>
                            <div class="col-6 col-md-6">
                                <label for="domaged_goods" class="form-label">Produit abîmé</label>
                                <input type="text" class="form-control" id="domaged_goods" name="domaged_goods" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 col-md-6">
                                <label for="closing_stock" class="form-label">Stock de clôture</label>
                                <input type="text" class="form-control" id="closing_stock" name="closing_stock" required>
                            </div>
                            <div class="col-6 col-md-6">
                                <label for="total_due" class="form-label">Total dû</label>
                                <input type="text" class="form-control is-valid" id="total_due" disabled>
                                <input type="hidden" class="form-control" id="hidden_total_due" name="total_due" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 col-md-6">
                                <label for="total_collection" class="form-label">Total des encaissements</label>
                                <input type="text" class="form-control is-valid" id="total_collection" disabled>
                                <input type="hidden" class="form-control" id="hidden_total_collection" name="total_collection" required>
                            </div>
                            <div class="col-6 col-md-6">
                                <label for="collection_difference" class="form-label">Écart d'encaissement</label>
                                <input type="text" class="form-control is-valid" id="collection_difference" disabled>
                                <input type="hidden" class="form-control" id="hidden_collection_difference" name="collection_difference" required>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-4">
                            <a href="{% url 'view_salescontrol'%}" name="button" class="btn btn-light m-0">Annuler</a>
                            <button type="submit" name="button" class="btn bg-gradient-primary m-0 ms-2">Sauvegarder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}